main{
    display:grid;
    
}
body
{
    background-color: #edddd0;
}
h1
{
    color: black;
    text-align:center;
}

.mainhead
{
    background-color:#A6CAD4;
    font-family: Montserrat, sans-serif;
    display:grid;
}

ul.listv1{
    display: center;
    text-align:center;
    list-style:none;
    
}
.image {
    display: flex;
    justify-content: flex-end;
}

.m{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 3/4;
}

.paragraph1 {
    display: grid;
    grid-row:1;
    grid-column:1/2;
    grid-template-columns: 0.75fr;
    grid-template-rows: 1fr;
}

h3{
    grid-template-rows: 1fr;
    grid-template-columns: 2fr;
    display:grid;
    grid-row:1;
    grid-column:1/2;
}

.foot{
    display:block;
    background-color:#A6CAD4;
    text-align:center;
}
li {
    display:inline-block

}

.grid{
    display:block;
    