main{
    display:grid;
    
}
body
{
    background-color: #edddd0;
    /* grid-template-columns: repeat(2, 1fr) 100px repeat(2, 2fr); */

}
h1
{
    color: black;
    text-align:center;
}

.mainhead
{
    background-color:#A6CAD4;
    font-family: Montserrat, sans-serif;
    display:grid;
    grid-row:1/-1;
    
}

ul.listv1{
    display: center;
    text-align:center;
    list-style:none;
    
}
.image {
    display: flex;
    justify-content:flex-end;
}

.m{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 3/4;
}

.paragraph1 {
    display: grid;
    grid-row:1
    
}

h3{
    grid-template-rows: 1fr;
    display:grid;
    grid-row:1
}

.paragraph2 {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row:1;
    grid-column:0/1;
}

.foot{
    display:grid;
    background-color:#A6CAD4;
    text-align:center;
}
li {
    display:inline-block

}