body
{
    background-color: beige;

}
h1
{
    color: blue;
}

.mainhead
{
    font-family: Montserrat, sans-serif;
}
div.navi{
    text-align:center;
}

ul.listv1{
    display: inline-block;
    text-align: left;
    
    
}